// Миксины

@mixin inlineBlock($vAlign: top) {
  display: inline-block;
  vertical-align: $vAlign;
}

@mixin flex($jContent: flex-start) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $jContent;
}

@mixin bg($bSize: cover) {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $bSize;
}

// Убирает базовые стили со списков
@mixin reset-list() {
  list-style-type: none;
  padding-left: 0;
}

// Убирает браузерные стили у тега button

/* stylelint-disable  property-no-vendor-prefix */
@mixin reset-button() {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-align: inherit;
  outline: none;
  cursor: pointer;
  background-color: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

// Плейсхолдеры
%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

// rem ---- em

@function rem($px) {
  @return $px / 16px +0rem;
}
@function em($px) {
  @return $px / 16px +0em;
}

//responsive

@mixin desctop {
  @media screen and (max-width: 1280px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 992px) {
    @content;
  }
}
@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin ie11 {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}